<!-- <div class="row top-menu"> -->
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1 text-thin"><h1>Catalog App</h1></span>
    <button type="button" class="btn btn-warning">Login</button>
  </nav>

    <!-- <div class="col-md-6">
        <a href="{{url_for('showCategories')}}">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show Catalog
    </a>
    </div> -->
    <!-- <div class="col-md-6 text-right"> -->

    <!-- </div> -->
<!-- </div> -->

